%li
  %a.slot-1{:href=>"#{site_root}portfolio/199806-adobe/"}
    %figure
      %img.lazy{:'data-original' => "#{site_root}portfolio/199806-adobe/pic1s.jpg",:width => '150',:height => '150'}
    %h4
      %b 1998
      Adobe
%li
  %a.slot-2{:href=>"#{site_root}portfolio/199903-novell/"}
    %figure
      %img.lazy{:'data-original' => "#{site_root}portfolio/199903-novell/pic1s.jpg",:width => '150',:height => '150'}
    %h4
      %b 1999
      Novell
%li
  %a.slot-3{:href=>"#{site_root}portfolio/200001-bannerxnet/"}
    %figure
      %img.lazy{:'data-original' => "#{site_root}portfolio/200001-bannerxnet/pic1s.jpg",:width => '150',:height => '150'}
    %h4
      %b 2000
      Banner Extranet
%li
  %a.slot-4{:href=>"#{site_root}portfolio/200103-engenuity/', :'data-slot' => '4"}
    %figure
      %img.lazy{:'data-original' => "#{site_root}portfolio/200103-engenuity/pic1s.jpg",:width => '150',:height => '150'}
    %h4
      %b 2001
      Enegnuity
%li
  %a.slot-5{:href=>"#{site_root}portfolio/200201-uscar/"}
    %figure
      %img.lazy{:'data-original' => "#{site_root}portfolio/200201-uscar/pic1s.jpg",:width => '150',:height => '150'}
    %h4
      %b 2002
      USCAR
%li
  %a.slot-6{:href=>"#{site_root}portfolio/200406-thomasash/"}
    %figure
      %img.lazy{:'data-original' => "#{site_root}portfolio/200406-thomasash/pic1s.jpg",:width => '150',:height => '150'}
    %h4
      %b 2004
      Thomas Ash
%li
  %a.slot-7{:href=>"#{site_root}portfolio/200504-tobicorney/"}
    %figure
      %img.lazy{:'data-original' => "#{site_root}portfolio/200504-tobicorney/pic1s.jpg",:width => '150',:height => '150'}
    %h4
      %b 2005
      Tobi Corney
%li
  %a.slot-8{:href=>"#{site_root}portfolio/200602-suzukibking/"}
    %figure
      %img.lazy{:'data-original' => "#{site_root}portfolio/200602-suzukibking/pic2s.jpg",:width => '150',:height => '150'}
    %h4
      %b 2006
      Suzuki B-King
%li
  %a.slot-9{:href=>"#{site_root}portfolio/200709-suzukibikes/"}
    %figure
      %img.lazy{:'data-original' => "#{site_root}portfolio/200709-suzukibikes/pic1s.jpg",:width => '150',:height => '150'}
    %h4
      %b 2007
      Suzuki Bikes 2007
%li
  %a.slot-10{:href=>"#{site_root}portfolio/200803-brockenhurst/"}
    %figure
      %img.lazy{:'data-original' => "#{site_root}portfolio/200803-brockenhurst/pic1s.jpg",:width => '150',:height => '150'}
    %h4
      %b 2008
      Brockenhurst College
%li
  %a.slot-11{:href=>"#{site_root}portfolio/200806-powertraveller/"}
    %figure
      %img.lazy{:'data-original' => "#{site_root}portfolio/200806-powertraveller/pic1s.jpg",:width => '150',:height => '150'}
    %h4
      %b 2008
      Powertraveller
%li
  %a.slot-12{:href=>"#{site_root}portfolio/200908-h2olidays/"}
    %figure
      %img.lazy{:'data-original' => "#{site_root}portfolio/200908-h2olidays/pic1s.jpg",:width => '150',:height => '150'}
    %h4
      %b 2009
      H2Olidays
%li
  %a.slot-13{:href=>"#{site_root}portfolio/200909-suzukimarinepr/"}
    %figure
      %img.lazy{:'data-original' => "#{site_root}portfolio/200909-suzukimarinepr/pic1s.jpg",:width => '150',:height => '150'}
    %h4
      %b 2009
      Suzuki Marine PR
%li
  %a.slot-14{:href=>"#{site_root}portfolio/200911-fabulousandpoor/"}
    %figure
      %img.lazy{:'data-original' => "#{site_root}portfolio/200911-fabulousandpoor/pic1s.jpg",:width => '150',:height => '150'}
    %h4
      %b 2009
      Fabulous & Poor
%li
  %a.slot-15{:href=>"#{site_root}portfolio/201005-suzuki50years/"}
    %figure
      %img.lazy{:'data-original' => "#{site_root}portfolio/201005-suzuki50years/pic1s.jpg",:width => '150',:height => '150'}
    %h4
      %b 2011
      Suzuki 50 years
%li
  %a.slot-16{:href=>"#{site_root}portfolio/201012-brooks/"}
    %figure
      %img.lazy{:'data-original' => "#{site_root}portfolio/201012-brooks/pic1s.jpg",:width => '150',:height => '150'}
    %h4
      %b 2010
      Brooks
%li
  %a.slot-17{:href=>"#{site_root}portfolio/201101-suzukibikes/"}
    %figure
      %img.lazy{:'data-original' => "#{site_root}portfolio/201101-suzukibikes/pic1s.jpg",:width => '150',:height => '150'}
    %h4
      %b 2011
      Suzuki Bikes
%li
  %a.slot-18{:href=>"#{site_root}portfolio/201102-bardot/"}
    %figure
      %img.lazy{:'data-original' => "#{site_root}portfolio/201102-bardot/pic1s.jpg",:width => '150',:height => '150'}
    %h4
      %b 2011
      Bardot
%li
  %a.slot-19{:href=>"#{site_root}portfolio/201103-southseadeckchairs/"}
    %figure
      %img.lazy{:'data-original' => "#{site_root}portfolio/201103-southseadeckchairs/pic1s.jpg",:width => '150',:height => '150'}
    %h4
      %b 2011
      Southsea Deckchairs
%li
  %a.slot-20{:href=>"#{site_root}portfolio/201106-beneteausuzuki/"}
    %figure
      %img.lazy{:'data-original' => "#{site_root}portfolio/201106-beneteausuzuki/pic4s.jpg",:width => '150',:height => '150'}
    %h4
      %b 2011
      Beneteau Suzuki
%li
  %a.slot-21{:href=>"#{site_root}portfolio/201111-trevortowner/"}
    %figure
      %img.lazy{:'data-original' => "#{site_root}portfolio/201111-trevortowner/pic4s.jpg",:width => '150',:height => '150'}
    %h4
      %b 2011
      Trevor Towner
%li
  %a.slot-22{:href=>"#{site_root}portfolio/201201-havantcollege/"}
    %figure
      %img.lazy{:'data-original' => "#{site_root}portfolio/201201-havantcollege/pic4s.jpg",:width => '150',:height => '150'}
    %h4
      %b 2012
      Havant College
%li
  %a.slot-23{:href=>"#{site_root}portfolio/201202-nicolakellycbt/"}
    %figure
      %img.lazy{:'data-original' => "#{site_root}portfolio/201202-nicolakellycbt/pic2s.jpg",:width => '150',:height => '150'}
    %h4
      %b 2012
      Nicola Kelly CBT
%li
  %a.slot-24{:href=>"#{site_root}portfolio/201202-portfolio/"}
    %figure
      %img.lazy{:'data-original' => "#{site_root}portfolio/201202-portfolio/pic2s.jpg",:width => '150',:height => '150'}
    %h4
      %b 2012
      Portfolio
